name: CI - Build & Push Docker Image to Docker Hub

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set image tag
        id: vars
        run: echo "TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/ecs-devops-test:${{ env.TAG }} \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/ecs-devops-test:latest \
            ./app

      - name: Push Docker images
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/ecs-devops-test:${{ env.TAG }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/ecs-devops-test:latest
